/* .main-div {
    @layer bg-otherpages min-h-screen;
} */

.customDiv-1 {
    @apply flex h-[calc(100vh-100px)] items-center justify-center;
}

.customDiv-1a {
    @apply flex flex-col items-center mt-12 mx-auto w-full max-w-md;
}

.customDiv-2 {
    @apply bg-zinc-100 border-2 border-red-700 max-w-md w-full p-0 rounded-md;
}

/* Para los titulos tipo '<h2>' */
.customDivH2 {
    @apply bg-red-700 flex items-stretch;
}

.customH2 {
    @apply text-2xl font-bold italic ml-24 mb-2 text-gray-100;
}

/* Para los '<form>' */
.customFormDiv {
    @apply pt-5 pl-6 pr-6 pb-4;
}

.customFormGrid {
    @apply grid grid-cols-2 gap-3;
}

.customEspecialFormGrid {
    @apply grid grid-cols-2 col-span-2;
}

.customButtonContainer {
    @apply flex justify-between;
}

.customSubMenu {
    @apply block px-4 py-2 text-sm text-gray-200 hover:text-yellow-300;
}

.menu-open-fullscreen{
    @apply fixed top-20 left-0 w-full h-[calc(100vh-5rem)] bg-black bg-opacity-80 z-20;
}

.button-fixed {
    position: fixed;
    bottom: 20px; /* Ajusta el valor según la distancia deseada desde el borde inferior */
    right: 20px;  /* Ajusta el valor según la distancia deseada desde el borde derecho */
    z-index: 10; /* Asegúrate de que el botón esté por encima de otros elementos */
  }
    
/* .bg-gradient {
    background: linear-gradient(to right, black, #5c5c5c); 
  }  */
  
.bg-gradient {
    background: linear-gradient(to right, rgb(49, 1, 1), #cc220f); 
  } 
/* .bg-gradient {
    background: linear-gradient(135deg, #580101, #b31102 25%, #fd6363 50%, #c91303 75%, #3a0101);
} */



/* global.css */

/* Estilo del fondo del menú desplegable */
.dropdown-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Ajusta el color y opacidad según sea necesario */
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px; /* Espaciado interno */
}

/* Estilo del contenedor del texto */
.dropdown-content {
    margin-top: 1.5rem; /* Ajusta según sea necesario */
    width: 100%;
    color: white;
}

/* Estilo para los enlaces */
.dropdown-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem; /* Tamaño de texto pequeño */
    transition: color 0.3s; /* Transición suave */
}

.dropdown-link:hover {
    color: #facc15; /* Color al pasar el ratón */
}
