/* .main-div {
    @layer bg-otherpages min-h-screen;
} */

.customDiv-1 {
    @apply flex h-[calc(100vh-100px)] items-center justify-center;
}

.customDiv-1a {
    @apply flex flex-col items-center mt-12 mx-auto w-full max-w-md;
}

.customDiv-2 {
    @apply bg-zinc-100 border-4 border-red-600 max-w-md w-full p-0 rounded-md;
}

/* Para los titulos tipo '<h2>' */
.customDivH2 {
    @apply bg-red-600 flex items-stretch;
}

.customH2 {
    @apply text-2xl font-bold italic ml-24 mb-2 text-gray-100;
}

/* Para los '<form>' */
.customFormDiv {
    @apply pt-5 pl-6 pr-6 pb-4;
}

.customFormGrid {
    @apply grid grid-cols-2 gap-3;
}
