 /* @import 'bootstrap/dist/css/bootstrap.min.css';  */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body {
    height: 100%;
    margin: 0;
} */

body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #eeeeee;
    overflow-x: hidden;
    min-height: 100vh;
}

.bg-otherpages {
    position: relative;
}

.bg-homepage,
.bg-otherpages{
    min-height: 100vh;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    overflow-y: auto;
}

.bg-homepage{
    background-image: url('/frontend/src/assets/logoWhite.png');
}

.bg-otherpages::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/frontend/src/assets/logoWhite.png');
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-color: inherit;
    opacity: 0.2;
    z-index: 0;
}

.bg-otherpages >*{
    position: relative;
    z-index: 1;
}

.active-menu{
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffcc00;
}

@keyframes grow{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.animate-grow{
    animation: grow 1s ease-in-out forwards;
}

